@import '../../components/EmployeeCard/employee-card';
@import '../../components/CompareButton/compare-button';

.talent-pool--tool-bar {
    margin-bottom: 24px;
    margin-right: 16px;
}

.talent-pool-page--h1 {
    margin-bottom: 4px;
    @include carbon--type-style('productive-heading-05');
}

.talent-pool-page--h2 {
    margin-bottom: 24px;
}

.talent-pool--compare-button {
    display: flex;
    align-items: flex-end;
}

.talent-pool-page--bottom-button {
    display: flex;
    justify-content: center;
}
