@import '../../components/EmployeeCard/employee-card';

.talent-pool--tool-bar {
    margin-bottom: 24px;
    margin-right: 16px;
}

.talent-pool-page--h1 {
    margin-bottom: 4px;
}

.talent-pool-page--h2 {
    margin-bottom: 24px;
}

.talent-pool-page--bottom-button {
    text-align: center;
}

.talent-pool--compare-button {
    display: flex;
    align-items: flex-end;
}