.comparison-page--tile-border {
    border-right: 5px solid red;
}

.comparison-page--bottom-border {
    border-bottom: 5px solid red;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

table td {
    border: 2px solid #d8d8d8;
}

th {
    border: 2px solid #d8d8d8;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 16px;
}

.comparison-page--icon {
    padding-right: 4px;
    //float: left;
}

p {
    text-align: left;
}