.comparison-page--header {
    display: flex;
    flex-direction: row;
}

.comparison-page--left-chevron {
    position:absolute;
    top:33px;
    left:8px;
}

.comparison-page--left-header {
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.comparison-page--right-header {
    margin-left: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

table td {
    border: 2px solid #d8d8d8;
}

th {
    border: 2px solid #d8d8d8;
}

td {
    padding-left: 20% !important;
    padding: 16px;
}

.comparison-page--icon {
    padding-right: 4px;
}

p {
    @include type-style('body-long-01');
}

h1 {
    @include carbon--type-style('productive-heading-02');
}

.comparison-page--tile {
    margin-left: 24px;
    margin-right: 24px;
}

.comparison-page--table-header {
    text-align: left;
}