.click-here {
    position:absolute;
    bottom:0;
    right:0;
    margin-right: 16px;
    margin-bottom: 35px;
}

.smiley {
    margin-top: 32px;
}

h1 {
    @include type-style('productive-heading-01');
}

p {
    margin-top: 16px;
}