.employee-card {
    margin-bottom: 24px;
}

.employee-card-info-button {
    position:absolute;
    bottom:0;
    right:0;
}

h1 {
    @include carbon--type-style('productive-heading-02');
}

p {
    @include type-style('body-long-01');
}