.landing-page--radar-graph {
    height: 306px;
    margin-top: 39px;
    margin-bottom: 32px;
    margin-left: 32px;
}

.landing-page--grey-container {
    background-color: #f3f3f3;
    padding: 35px;
}

.landing-page--white-container {
    background-color: white;
    padding-bottom: 40px;
}

.landing-page--h2 {
    margin-top: 96px;
    font-size: 18px;
}

.landing-page--h3 {
    margin-top: 24px;
    font-size: 12px;
}

.landing-page--p {
    margin-top: 8px;
    font-size: 12px;
}

.landing-page--icons {
    padding-right: 16px;
    float: left;
}

.landing-page--chart-legend {
    display: flex;
    align-content: center;
    justify-content: center;
}

.landing-page--square-pink {
    height: 20px;
    width: 20px;
    background-color: #F2C7CB;
    margin-right: 6px;
}

.landing-page--square-blue {
    height: 20px;
    width: 20px;
    background-color: #C2D9E8;
    margin-right: 6px;
    margin-left: 12px;
}