.landing-page--left-container {
    background-color: #f3f3f3;
}

.landing-page--radar-graph {
    padding-top: 36px;
    padding-bottom: 36px;
    height: 20%;
}

.landing-page--right-container-trainings {
    background-color: #f3f3f3;
    padding: 0;
}

.landing-page--right-container-resources {
    background-color: #f3f3f3;
}

.landing-page--left-container {
    padding: 0 !important;
}