.tile {
    margin-left: 40px;
    height: 280px;
    width: 210px;
    //margin-bottom: 16px;
    background-color: white;
}

.resource-card--h2 {
    padding-top: 72px;
    @include carbon--type-style('productive-heading-02');
}

.resource-card--p {
    margin-top: 8px;
    @include type-style('body-long-01');
    color: #929292;
}

.resource-card--button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.resource-card--image-holder {
    background-color: #D8D8D8;
    width: 210px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
}