.catagory--flexin {
    display: inline-flex;
    flex-direction: row;
    margin-top: 24px;
}

.catagory--icon {
    margin-right: 16px;
    width: 20px;
}

.catagory--h3 {
    @include carbon--type-style('productive-heading-02');
}

.catagory--p {
    margin-top: 8px;
    @include type-style('body-long-01');
    color: #929292;
}